{% extends 'layout.html.twig' %}

{% block content %}


<main class="credits">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>PictoPorn <br><small>Pour une classification figurative normée de la représentation sexuelle</small></h1>  
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Crédits</h2>
      <h3>Organisation</h3>
        <strong>VTF [<a href="http://velvetyne.fr/">http://velvetyne.fr/</a>]</strong>
        <ul>
          <li>Raphael Bastide [<a href="http://www.raphaelbastide.com/">http://www.raphaelbastide.com/</a>]</li>
          <li>Jérémy Landes [<a href="http://jjllnn.fr/">http://jjllnn.fr/</a>]</li>
          <li>Frnk</li>
        </ul>

        <strong>La Générale [<a href="http://www.lagenerale.fr/">http://www.lagenerale.fr/</a>]</strong>

      <h3>Pictogrammes</h3>
        <ul>

<li>Timothée Goguely [<a href="http://timotheegoguely.com/">http://timotheegoguely.com/</a>]</li>

<li>Margot Cannizzo [<a href="http://margotcannizzo.tumblr.com/">http://margotcannizzo.tumblr.com/</a>]</li>

<li>Zoé Tullen [<a href="http://zoetullen.tumblr.com">http://zoetullen.tumblr.com</a>]</li>

<li>Gabrielle Meistretty [<a href="http://garaille-raille-la-graille.tumblr.com">http://garaille-raille-la-graille.tumblr.com</a>]</li>

<li>Raphael Bastide [<a href="http://raphaelbastide.com">http://raphaelbastide.com</a>]</li>

<li>Timothée Chiron [<a href="http://www.timotheechiron.com/">http://www.timotheechiron.com/</a>]</li>

<li>Jules Romier</li>

<li>Ariel Martín Pérez[<a href="http://www.arielgraphisme.com">http://www.arielgraphisme.com</a>]</li>  

<li>Mince &amp; Roux[<a href="http://cargocollective.com/minceetroux">http://cargocollective.com/minceetroux</a>]</li>

<li>Thibéry Maillard [<a href="http://cargocollective.com/en3points">http://cargocollective.com/en3points</a>]</li>

<li>Fatma Laadhari [<a href="http://www.flaad.fr">http://www.flaad.fr</a>]</li>

<li>Georges Khayat [<a href="https://georgeskhayat.wordpress.com/">https://georgeskhayat.wordpress.com/</a>]</li>

<li>Anaïs Djouad [<a href="https://mywastedlands.wordpress.com/">https://mywastedlands.wordpress.com/</a>]</li>

<li>Bilel Kilani</li>
        </ul>

      <h3>Site internet</h3>
        <ul>
          <li>Julien Zamor [<a href="http://troisyaourts.com">http://troisyaourts.com</a>]</li>
        </ul>

      <h2>Licences</h2>
        <p>Les pictogrammes sont sous licence ...</p>
        <p>Le site internet est  sous licence GPLv2, le code est disponible sur [<a href="http://github.com/smwhr/pictoporn/">http://github.com/smwhr/pictoporn/</a>]</p>
    </div>
  </div>
</main>

{% endblock %}