{% extends 'layout.html.twig' %}

{% block content %}

<main class="home" ng-controller="SearchController as search">

  <section class="search">
  <h1>PictoPorn</h1>
  {% for i in 1..1 %}
  {% for tag in tags %}
    <a href="" class="tag" ng-click="search.toggleTag($event, '{{tag.tag}}')">{{tag.svg | raw}}</a>
  {% endfor %}
  {% endfor %}
    <div class="clear"></div>
  </section>

  <section class="result">
    <!-- <span ng-repeat="tag in search.tags">{[{tag}]}</span> -->
    <div ng-show="search.videos.length > 0" class="result-items">
        <a class="result-item" ng-href="{[{video.url}]}" target="_blank" ng-repeat="video in search.videos" title="{[{video.title}]}">
          <canvas data-thumb="{[{video.thumb}]}" width="140" height="105" class="video_thumb" drawing></canvas>
        </a>
    </div>

    <div ng-show="search.videos.length == 0 && search.tags.length > 0 && search.loading == false">
      <p class="no-result">Désolé pas de résultats pour cette combinaison de tags</p>
    </div>

    <div ng-show="search.loading"><p class="no-result">Recherche en cours ...</p></div>

    <div ng-show="search.tags.length == 0">
      <p class="no-result">Choisissez un ou plusieurs pictotags pour lancer une recherche</p>
    </div>

  </section>

  <footer>
    Pictoporn est not-safe-for-work et globalement interdit aux mineurs. Partez vite si vous êtes un enfant. [<a href="/credits">Crédits &amp; À propos</a>]<br>
    Le site a été réalisé dans le cadre d'un <a href="http://velvetyne.fr/reproduction/" target="_blank">workshop</a> organisé par <a href="http://velvetyne.fr/" target="_blank">la fonderie VTF</a> à <a href="http://www.lagenerale.fr/">La Générale</a> du 4 au 7 juin 2015. 
  </footer>

</main>

{% endblock %}