h1, h2, h3{
  
  font-family: 'format 1452';

}

.home .h1{
  float: left;
  width:228px;
  text-align: center;
}

.clear{
  clear: both;
}

.tag{
  width:76px;
  height:76px;
  display: block;
  float:left;
}

.tag.selected{
  background-color: yellow;
}

section.search{
  height:48vh;
  overflow: scroll;
}
section.result{
  height:47vh;
  overflow: scroll;
}

footer{
  height:2vh;
  font-size: 11px;
  text-align: center;
}

.no-result{
  font-family: 'format 1452';
  font-size: 36px;
}

.result-item{
  display: block;
  float:left;
  width:140px;
  height: 105px;
  margin-right:2px;
  margin-bottom: 2px;
}


.credits{
  margin-top:50px;
}

.credits ul {
  list-style-type: none;
}